{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Printing Results
{% endblock %}

{% block content %}

    {% if player.id_in_group == 1 %}

        {% for network in p1networks %}

            {% if network == 1 %}

                Player 1 Promised {{promise1}} percent back <br>
                you have {{player.endowment}} <br>
                Player 1 has a return of {{player1cp}} <br>
                How much do you want to invest? <br><br>

                {% formfield player.investment1 %}

            {% elif network == 2 %}

                Player 2 Promised {{promise2}} percent back <br>
                you have {{player.endowment}} <br>
                Player 2 has a return of {{player2cp}} <br>
                How much do you want to invest? <br>

                {% formfield player.investment2 %}

            {% elif network == 3 %}

                Player 3 Promised {{promise3}} percent back <br>
                you have {{player.endowment}} <br>
                Player 3 has a return of {{player3cp}} <br>
                How much do you want to invest? <br>

                {% formfield player.investment3 %}


            {% elif network == 4 %}

                Player 4 Promised {{promise4}} percent back <br>
                you have {{player.endowment}} <br>
                Player 4 has a return of {{player4cp}} <br>
                How much do you want to invest? <br>

                {% formfield player.investment4 %}

            {% endif %}

        {% endfor %}


    {% elif player.id_in_group == 2 %}
         {% for network in p2networks %}

            {% if network == 1 %}

                Player 1 Promised {{promise1}} percent back <br>
                you have {{player.endowment}} <br>
                Player 1 has a return of {{player1cp}} <br>
                How much do you want to invest? <br><br>

                {% formfield player.investment1 %}

            {% elif network == 2 %}

                Player 2 Promised {{promise2}} percent back <br>
                you have {{player.endowment}} <br>
                Player 2 has a return of {{player2cp}} <br>
                How much do you want to invest? <br>

                {% formfield player.investment2 %}

            {% elif network == 3 %}

                Player 3 Promised {{promise3}} percent back <br>
                you have {{player.endowment}} <br>
                Player 3 has a return of {{player3cp}} <br>
                How much do you want to invest? <br>

                {% formfield player.investment3 %}


            {% elif network == 4 %}

                Player 4 Promised {{promise4}} percent back <br>
                you have {{player.endowment}} <br>
                Player 4 has a return of {{player4cp}} <br>
                How much do you want to invest? <br>

                {% formfield player.investment4 %}

            {% endif %}

        {% endfor %}

    {% elif player.id_in_group == 3 %}
         {% for network in p3networks %}

            {% if network == 1 %}

                Player 1 Promised {{promise1}} percent back <br>
                you have {{player.endowment}} <br>
                Player 1 has a return of {{player1cp}} <br>
                How much do you want to invest? <br><br>

                {% formfield player.investment1 %}

            {% elif network == 2 %}

                Player 2 Promised {{promise2}} percent back <br>
                you have {{player.endowment}} <br>
                Player 2 has a return of {{player2cp}} <br>
                How much do you want to invest? <br>

                {% formfield player.investment2 %}

            {% elif network == 3 %}

                Player 3 Promised {{promise3}} percent back <br>
                you have {{player.endowment}} <br>
                Player 3 has a return of {{player3cp}} <br>
                How much do you want to invest? <br>

                {% formfield player.investment3 %}


            {% elif network == 4 %}

                Player 4 Promised {{promise4}} percent back <br>
                you have {{player.endowment}} <br>
                Player 4 has a return of {{player4cp}} <br>
                How much do you want to invest? <br>

                {% formfield player.investment4 %}

            {% endif %}
        {% endfor %}

    {% elif player.id_in_group == 4 %}
          {% for network in p4networks %}

            {% if network == 1 %}

                Player 1 Promised {{promise1}} percent back <br>
                you have {{player.endowment}} <br>
                Player 1 has a return of {{player1cp}} <br>
                How much do you want to invest? <br><br>

                {% formfield player.investment1 %}

            {% elif network == 2 %}

                Player 2 Promised {{promise2}} percent back <br>
                you have {{player.endowment}} <br>
                Player 2 has a return of {{player2cp}} <br>
                How much do you want to invest? <br>

                {% formfield player.investment2 %}

            {% elif network == 3 %}

                Player 3 Promised {{promise3}} percent back <br>
                you have {{player.endowment}} <br>
                Player 3 has a return of {{player3cp}} <br>
                How much do you want to invest? <br>

                {% formfield player.investment3 %}


            {% elif network == 4 %}

                Player 4 Promised {{promise4}} percent back <br>
                you have {{player.endowment}} <br>
                Player 4 has a return of {{player4cp}} <br>
                How much do you want to invest? <br>

                {% formfield player.investment4 %}

            {% endif %}
        {% endfor %}



    {% else %}
        you should never see this
    {% endif %}

    {% next_button %}
{% endblock %}


